<div>
    <div class="whiteblock grid columns-1 w-[800px] rounded-2xl mx-auto mt-10 shadow-md">
    <div class="flex mx-auto mt-8 mb-4 text-xl font-medium">
        <h1 id="i_from" class="mx-1 font-bold">{{amount1.value}}</h1>
        <h1 id="c_from" class="mx-1 font-bold">{{currency1.value}}</h1>
        <h1 id="i_from" class="mx-1">is equal to</h1>
        <h1 id="i_to" class="mx-1 font-bold">{{amount2.value}}</h1>
        <h1 id="c_to" class="mx-1 font-bold">{{currency2.value}}</h1></div>

        <div class="flex mx-auto mt-4">
    <input value={{amount1.value}} [formControl]="amount1"   (change)="onInput('amount1')"  placeholder ="0.00"
     id="amount-1" type="number"/>
  
    <select id="from" (change)=changedCurrency() [formControl]="currency1">
    <option class="" *ngFor="let x of currencies" [ngValue]="x.currencyName">{{x.currencyTitle}}</option>
  </select>
  
   </div>
   <div class="flex mx-auto mt-4  mb-12">
  
   <input min={0} (change)="onInput('amount2')" [formControl]="amount2"  placeholder ="0.00"
   id="amount-2" type="number"/>
  
  <select id="to" (change)=changedCurrency() [formControl]="currency2">
  <option class="" *ngFor="let x of currencies" [ngValue]="x.currencyName">{{x.currencyTitle}}</option>
  </select>
  
  </div>
   </div>
  
  </div>
  