<div>
    <div class="grid columns-1 bg-[#FBF7F4] w-[800px] rounded-2xl mx-auto mt-10  shadow-md">
    <div class="flex mx-auto mt-8 mb-4 text-xl font-medium">
        <h1 id="i_from" class="mx-1 font-bold">6</h1>
        <h1 id="c_from" class="mx-1 font-bold">tomatoes</h1>
        <h1 id="i_from" class="mx-1">is equal to</h1>
        <h1 id="i_to" class="mx-1 font-bold">3.34</h1>
        <h1 id="c_to" class="mx-1 font-bold">cobs of corn</h1></div>
        <div class="flex mx-auto mt-4">
    <input value={{amount1.value}} [formControl]="amount1"   (change)="onInput('amount-1')"  placeholder ="0.00"
    class="bg-gray-200 appearance-none text-lg font-bold mx-2 border-2 border-gray-200 rounded w-[150px] py-2 pl-4 pr-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-[#6C9A8B]" id="amount-1" type="number"/>
  
    <select id="from" (change)=changedCurrency() [formControl]="currency1"
    class="bg-gray-200 appearance-none font-bold mx-2 border-2 border-gray-200 rounded w-[300px] py-2 pl-4  text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-[#6C9A8B]">
  <option class="" value="USD">US Dollar (USD)</option>
  <option class="" value="EUR">Euro (EUR)</option>
  <option class="" value="VES">Venezuelan bolivar (VES)</option>
  <option class="" value="UAH">Hryvna (UAH)</option>
  </select>
  
   </div>
   <div class="flex mx-auto mt-4  mb-12">
  
   <input min={0} (change)="onInput('amount-2')" [formControl]="amount2"  placeholder ="0.00"
   class="bg-gray-200 appearance-none text-lg font-bold mx-2 border-2 border-gray-200 rounded w-[150px] py-2 pl-4 pr-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-[#6C9A8B]" id="amount-2" type="number"/>
  
  <select id="to" (change)=changedCurrency() [formControl]="currency2"
  class="bg-gray-200 appearance-none font-bold mx-2 border-2 border-gray-200 rounded w-[300px] py-2 pl-4  text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-[#6C9A8B]">
  <option class="" value="USD">US Dollar (USD)</option>
  <option class="" value="EUR">Euro (EUR)</option>
  <option class="" value="VES">Venezuelan bolivar (VES)</option>
  <option class="" value="UAH">Hryvna (UAH)</option>
  </select>
  
  </div>
   </div>
  
  </div>
  