/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color: #823329;
    background: rgb(214,109,117);
background: linear-gradient(90deg, rgba(214,109,117,1) 0%, rgba(226,149,135,1) 100%);
}